@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
  --footer-text: #f8f0e4;
  --footer-hover: #f7d299;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url();
  background: url("./assets/img/bg.jpg");
  background-size: cover;
  cursor: url("./assets/img/cursor_arrow.jpg"), url("./assets/img/cursor_arrow2.jpg"), default;
}

.header {
  height: 100px;
}

.game {
  display: flex;
  width: 690px;
  height: 690px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  perspective: 1000px;
}

.game__card {
  position: relative;
  width: calc(25% - 24px);
  height: calc(33.333% - 10px);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: all 0.5s;
  border-radius: 13px;
}

.game__card:hover {
  box-shadow: 0 0 30px 10px #26aee0;
  cursor: url("./assets/img/cursor_sword.jpg"), pointer;
}

.game__card:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.game__card.spin {
  transform: rotateY(180deg);
}

.game__card-cover,
.game__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  /* display: block; */
  backface-visibility: hidden;
}

.game__card-cover {
  transform: rotateY(180deg);
  background-color: rgb(255, 255, 255, 0.5);
}

.game__card-cover.disable {
  filter: grayscale(100%);
  transition: all 1s ease-in-out;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 5%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Ubuntu", sans-serif;
  color: var(--footer-text, #f8f0e4);
  font-size: 20px;
}

.footer__year {
  width: 100%;
}

.footer__links {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.footer__github {
  display: block;
  color: var(--footer-text, #f8f0e4);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.footer__github:hover {
  color: var(--footer-hover);
}

.footer__rsschool {
  margin-left: 80px;
}

.rsschool path {
  transition: fill 0.3s ease-in-out;
}

.rsschool:hover path {
  fill: var(--footer-hover);
}
