@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

@font-face {
  font-family: "Belwe Bd BT";
  src: url("./assets/fonts/belwebdbtrusbyme_bold.eot");
  src: local("☺"), url("./assets/fonts/belwebdbtrusbyme_bold.woff") format("woff"),
    url("./assets/fonts/belwebdbtrusbyme_bold.ttf") format("truetype"),
    url("./assets/fonts/belwebdbtrusbyme_bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main: #1c1c1c;
  --footer-text: #f8f0e4;
  --footer-hover: #f7d299;
  --btn-text: #705329;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("./assets/img/bg.jpg");
  background-size: cover;
  font-family: "Belwe Bd BT", Arial, sans-serif;
  font-size: 30px;
  color: var(--main);
  cursor: url("./assets/img/cursor_arrow.jpg"), url("./assets/img/cursor_arrow2.jpg"), default;
}

/*  */
body.visually-hidden::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url("./assets/img/bg.jpg");
  filter: blur(5px);
}
/*  */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 690px;
  height: 12vh;
  margin: 20px auto 30px;
}

.header.visually-hidden {
  display: none;
}

.header__item {
  margin-top: auto;
}

.btn-wrapper {
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.btn-wrapper:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.game-btn {
  background-image: url("./assets/img/bg_button.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 80px;
  border: none;
  font-family: "Belwe Bd BT", Arial, sans-serif;
  font-size: 20px;
  color: var(--main);
  cursor: url("./assets/img/arrow-left.jpg"), pointer;
  transition: all 0.3s ease-in-out;
}

.game-btn:hover {
  color: var(--btn-text);
}

.header__score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./assets/img/bg_score.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 80px;
  transition: 0.3s ease-in-out;
}

.header__text {
  margin-left: 12%;
  margin-bottom: 6px;
}

.header__score {
  margin-right: 12%;
  margin-bottom: 6px;
}

.game {
  display: flex;
  width: 690px;
  height: 690px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  perspective: 1000px;
}

.game.visually-hidden {
  display: none;
}

.game__card {
  position: relative;
  width: calc(25% - 24px);
  height: calc(33.333% - 10px);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: all 0.5s;
  border-radius: 13px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game__card:hover {
  box-shadow: 0 0 30px 10px #26aee0;
  cursor: url("./assets/img/cursor_sword.jpg"), pointer;
}

.game__card:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.game__card.spin {
  transform: rotateY(180deg);
}

.game__card.spin.disable {
  box-shadow: none;
}

.game__card-cover,
.game__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  /* display: block; */
  backface-visibility: hidden;
}

.game__card-cover {
  transform: rotateY(180deg);
  background: url("./assets/img/bg_card.jpg");
  background-size: cover;
  border: 2px solid #000000;
}

.game__card-cover.disable {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 70px;
  padding: 0 5%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Ubuntu", sans-serif;
  color: var(--footer-text, #f8f0e4);
  font-size: 20px;
}

.footer__year {
  width: 100%;
}

.footer__links {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.footer__github {
  display: block;
  color: var(--footer-text, #f8f0e4);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.footer__github:hover {
  color: var(--footer-hover);
}

.footer__rsschool {
  margin-left: 80px;
}

.rsschool path {
  transition: fill 0.3s ease-in-out;
}

.rsschool:hover path {
  fill: var(--footer-hover);
}
/* **************************************** */
.main-menu {
  display: none;
}

.main-menu.visually-hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.main-menu__container {
  min-width: 70%;
}

.main-menu__title {
  margin: 35px 0;
  text-align: center;
  color: var(--footer-text, #f8f0e4);
}

.main-menu__content {
}

.main-menu__items {
  position: relative;
  width: 490px;
  height: 600px;
  margin: 0 auto 25px;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.main-menu__items.rotate {
  transform: rotateY(180deg);
}

.main-menu__information {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 50px 70px;
}

.main-menu__rules {
  background: url("./assets/img/bg_lists.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-menu__leaderboard {
  background: url("./assets/img/bg_lists.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /*  */
  transform: rotateY(180deg);
}

.main-menu__subtitle {
  padding-bottom: 10px;
  text-align: center;
}

.main-menu__btns {
  display: flex;
  justify-content: space-between;
  width: 490px;
  margin: 0 auto;
  padding: 0 30px;
}

.game-btn--start {
  cursor: url("./assets/img/arrow-right.jpg"), pointer;
}

.game-btn--leaderboard {
  cursor: url("./assets/img/refresh-icon.jpg"), pointer;
}

.main-menu__position-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 30px;
  /* list-style-type: none; */
}

.main-menu__list-item {
  margin: 3px;
}
