* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 50px;
}

.wrapper {
  color: #ffffff;
  background-color: #000000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 90px;
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-container {
  display: flex;
}

.header-logo {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.header-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  cursor: pointer;
}

.header-navigation {
  margin-left: auto;
  padding-top: 20px;
}

.navigation-list {
  display: flex;
  list-style: none;
}

.navigation-item {
  padding: 0 15px;
}

.navigation-item a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.navigation-item a:hover {
  text-decoration: none;
  color: #bdae82;
}

.header-language-switch {
  padding-top: 20px;
  padding-left: 15px;
  font-weight: bold;
}

.lang-switcher {
  transition: 0.3s;
}

.lang-switcher:hover {
  color: #bdae82;
}

.main-content {
}
.hero {
}

.hero-container {
  height: 820px;
  padding-top: 160px;
  padding-left: 60px;
  background-image: url("./assets/img/header-bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero-title {
  padding-bottom: 10px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
}
.hero-text {
  width: 470px;
  padding-bottom: 25px;
  line-height: 40px;
}

.btn-wrapper {
}

.btn-type-one {
  width: 220px;
  height: 55px;
  background: #bdae82;
  border: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  cursor: pointer;
  transition: 0.3s;
}

.btn-type-one:hover {
  color: #ffffff;
}

.skills {
  padding-top: 100px;
}
.section-title-container {
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title {
  width: fit-content;
  margin: 0 auto;
  padding: 0 22px;
  background-color: #000000;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
}

.skills-items {
}
.skills-item {
}
.skills-item-img {
}
.skills-item-title {
}
.skills-item-text {
}
.portfolio {
}
.portfolio-buttons {
}
.portfolio-items {
}
.video {
}
.video-player {
}
.price {
}
.price-items {
}
.price-item {
}
.price-item-title {
}
.price-item-cost {
}
.price-item-includes {
}
.contacts {
}
.contacts-title-container {
}
.contacts-title {
}
.contacts-form {
}
.contacts-form-control {
}
.footer {
}
.footer-data {
}
.footer-rss {
}
.footer-social-list {
}
