* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
}

.wrapper {
  color: #ffffff;
  background-color: #000000;
}

.header {
  height: 90px;
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-logo {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.header-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  cursor: pointer;
}

.header-navigation {
  margin-left: auto;
  padding-top: 20px;
}

.navigation-list {
  display: flex;
  list-style: none;
}

.navigation-item {
  padding: 0 15px;
}

.navigation-item a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.navigation-item a:hover {
  text-decoration: none;
  color: #bdae82;
}

.header-language-switch {
  padding-top: 20px;
  padding-left: 15px;
  font-weight: bold;
}

.lang-switcher {
  transition: 0.3s;
  cursor: pointer;
}

.lang-switcher:hover {
  color: #bdae82;
}

.main-content {
}

.hero {
  background-image: url("./assets/img/header-bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 160px 20px 0 80px;
  height: 820px;
}

.hero-title {
  padding-bottom: 10px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
}
.hero-text {
  width: 470px;
  padding-bottom: 25px;
  line-height: 40px;
}

.btn-wrapper {
}

.btn-type-one {
  width: 220px;
  height: 55px;
  background: #bdae82;
  border: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  cursor: pointer;
  transition: 0.3s;
}

.btn-type-one:hover {
  color: #ffffff;
}

.skills {
  padding-top: 100px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 20px 2px;
}

.section-title-container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 60px;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title {
  width: fit-content;
  margin: 0 auto;
  padding: 0 22px;
  background-color: #000000;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-item {
  width: 320px;
  padding: 0 20px 8px;
  background-position: center top;
}

.skills-item-img {
  height: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item-img-camera {
  background-image: url("./assets/svg/camera 1.svg");
  width: 62px;
}

.item-img-video {
  background-image: url("./assets/svg/video 1.svg");
  width: 60px;
}

.item-img-retouch {
  background-image: url("./assets/svg/image 1.svg");
  width: 66px;
}

.item-img-audio {
  background-image: url("./assets/svg/mic 1.svg");
  width: 32px;
}

.skills-item-title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.skills-item-text {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.portfolio {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 20px 0;
}

.portfolio-buttons {
  width: fit-content;
  margin: 0 auto;
  padding: 0 0 60px;
}

.btn-type-two {
  width: 220px;
  height: 55px;
  background: transparent;
  border: 2px solid #bdae82;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  cursor: pointer;
  transition: 0.3s;
}

.btn-type-two:hover {
  color: #ffffff;
}

.btn-type-two:active {
  background: #bdae82;
  color: #000000;
}

.portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.portfolio-item {
  width: 450px;
  height: 560px;
}

.video {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 20px 0;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  height: 705px;
  background-image: url("./assets/img/video-player.jpg");
  background-repeat: no-repeat;
}

.btn-type-three {
  position: absolute;
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.btn-type-three:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.price {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 20px;
}

.price-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-item {
  width: 450px;
  height: 505px;
  border: 3px solid #bdae82;
  padding: 43px 0;
}

.price-item-title {
  padding-bottom: 20px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}

.price-item-cost {
  padding-bottom: 20px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
}

.price-item-includes {
  padding-bottom: 40px;
}

.price-item-line {
  display: block;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.price-btn-wrapper {
  padding: 0 112px;
}

.contacts {
  position: relative;
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
  background-image: url("./assets/img/contacts.jpg");
  background-repeat: no-repeat;
}

.contacts-conteiner {
  position: absolute;
  top: 60px;
  right: 20px;
}

.contacts-title-container {
  padding-bottom: 40px;
}

.contacts-title {
  background: transparent;
  margin: 0;
  padding: 0;
}

.contacts-form {
}

.form-control-wrapper {
  padding-bottom: 20px;
}

.form-control-wrapper:nth-child(3) {
  height: 130px;
}

.form-item {
  width: 450px;
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.control {
  height: 50px;
}

.textarea {
  height: 100px;
  resize: none;
}

::placeholder {
  color: #bdae82;
}

.footer {
}
.footer-data {
}
.footer-rss {
}
.footer-social-list {
}
